nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border: 2px solid rgba(248, 248, 248, 0.452);
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

nav img{
    height: 5rem;
    width: 5rem;
    margin-left: 10px;
    border-radius: 50%;
}